<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Factura</title>
    <script src="js/scripts.js"></script>
</head>

<body>
    <form>
        <label for="number">Número de Factura</label>
        <input type="text" id="number"><br>

        <label for="customer">Cliente</label>
        <select name="" id="customer">
            <option value="0">Seleccione Cliente..</option>
        </select>
        <p>
            <label for="valBill">Valor Factura</label>
            <input type="text" id="valBill">
        <p></p>
        <label for="dateBill">Fecha</label>
        <input type="date" id="dateBill">
        <p> <button id="btnSend" onclick="sendCustomer()">Enviar Datos</button></p>
    </form>

    <script>
        loadCustomers()
            .then(data => {
                if (data.result) {
                    const customer = document.getElementById('customer')
                    data.data.forEach( element => {
                        customer.add( new Option(element.name,element._id))
                    })
                } else {
                    console.log(`Se ha Producido un Error cargando los datos`)
                }
            }).catch(console.log)
    </script>
</body>

</html>